body {
    background-color: cornsilk;
}

#form-wrapper {
    margin: auto;
    max-width: 800px;
}

form * {
    display: block;
    margin: 16px 0;
}

form input[type=submit] {
    border: none;
    background-color: lawngreen;
    padding: 16px 0;
    text-transform: uppercase;
    width: 100%;
}

#image {
    position: absolute;
    top: -100vw;
    left: -100vw;
}